.Settings {
  .topBar-Settings {
    height: calc(var(--height) * 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    .backBtn-topBar {
      color: white;
      text-decoration: none;
      padding: .5rem 1rem;
      border: 1px solid white;
      font-weight: bold;
      cursor: pointer;
      border-radius: .25rem;
      &:hover {
        background: white;
        color: var(--color);
      }
    }
  }
  .container-Settings {
    max-width: 75vw;
    min-width: 300px;
    margin: 0 auto;
    padding: 2rem 0;
    .label-container {
      color: white;
      margin-bottom: 1rem;
      font-weight: bold;
      font-size: 1.5rem;
    }
    .wrapper-container {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      .rule-wrapper {
        padding: 1rem;
        background: white;
        border-radius: .25rem;
        p {
          font-weight: bold;
        }
        .rules-rule {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
          gap: 1rem;
          .wrapper-rules {
            font-size: 1.5rem;
            padding: .5rem;
            border-radius: .25rem;
            &:hover {
              background: rgba(black,.1);
            }
            label {
              cursor: pointer;
              display: flex;
              align-items: center;
              word-wrap: none;
              input {
                cursor: pointer;
                margin-right: 1rem;
              }
            }
          }
        }
        .emojiForm-rule {
          font-size: 3rem;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
          gap: .5rem;
          label {
            border-radius: 1rem;
            text-align: center;
            cursor: pointer;
            input {
              opacity: 0;
              max-width: 0;
              max-height: 0;
              width: 0;
              margin: 0;
            }
            &.is-selected {
              box-shadow: 0 0 0 2px var(--color);
            }
            &:hover {
              background: rgba(black,.1);
            }
          }
        }
      }
    }
  }
}