.App {
  min-height: 100vh;
  background: midnightblue;
}

.Board {
  position: relative;
  background: rgb(31, 26, 46);
  overflow: hidden;
}

.Wall {
  background: rgb(136, 10, 10);
  position: absolute;
}

.GoldCoin, .Bomb, .Hero, .Enemy {
  height: 30px;
  width: 30px;
  background: gold;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Bomb {
  background: rgb(222, 209, 246);
}

.Hero {
  background: rgb(138, 238, 188);
  transition: all .2s ease;
  z-index: 1;
  position: relative;
}
.Hero.has-bomb::after {
  content: '💣 ' ;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  line-height: 10px;
}

.Enemy {
  background: coral;
  transition: all .2s ease;
  z-index: 2;
}

.WallHole {
  width: 30px;
  height: 30px;
  background: rgba(54, 11, 11, 0.534);
}