.App {
  min-height: 100vh;
  background: rgb(23, 3, 56);
  font-family: 'Epilogue', sans-serif;
}

.Board {
  position: relative;
  background: rgb(31, 26, 46);
  overflow: hidden;
}

.Wall {
  background: rgb(136, 10, 10);
  position: absolute;
}

.Bomb, .Hero, .Opposite {
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Hero, .Opposite {
  background: rgb(138, 238, 188);
  transition: all .2s ease;
  z-index: 1;
}
.Hero.has-bomb::after, .Opposite.has-bomb::after {
  content: '💣' ;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  line-height: 10px;
}


.WallHole {
  background: rgba(54, 11, 11, 0.75);
  position: absolute;
}

.Winner {
  background: white;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  color: rgb(55, 17, 116);
}

.Winner h1 {
  font-weight: bold;
  font-size: 50px;
}