:root {
  --height: 10px;
}

.App {
  min-height: 100vh;
  background: rgb(23, 3, 56);
  font-family: 'Epilogue', sans-serif;
}

.Board {
  position: relative;
  background: rgb(31, 26, 46);
  overflow: hidden;
}

.Wall {
  background: rgb(136, 10, 10);
  position: absolute;
}

.HeroItem, .Hero, .Opposite, .HeroHazard, .HeroHazard.opposite--HeroHazard, .Goal, .Goal.opposite--Goal {
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Hero, .Opposite {
  background: rgb(138, 210, 238);
  transition: all .2s ease;
  z-index: 1;
}

.Opposite {
  background: rgb(193, 138, 238);
}

.HeroItem {
  background: rgb(138, 210, 238);
}
.HeroItem.opposite--HeroItem {
  background: rgb(193, 138, 238);
}

.Hero.has-item::after, .Opposite.has-item::after {
  content: '💣' ;
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(var(--height)/2);
  height: calc(var(--height)/2);
  font-size: var(--height);
  line-height: var(--height);
}


.WallHole {
  background: rgb(31, 26, 46);
  position: absolute;
}

.Goal {
  background: rgb(138, 210, 238);
}

.Goal, .Goal.opposite--Goal {
  background: rgb(193, 138, 238);
}

.HeroHazard {
  background: rgb(179, 5, 5);
}
.HeroHazard.opposite--HeroHazard {
  background: rgb(5, 46, 179);
}


.Winner {
  background: white;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  color: rgb(55, 17, 116);
}

.Winner h1 {
  font-weight: bold;
  font-size: 50px;
}